//Rules

•Welcome I'm Flex Developer Of JavaScript App We Have Few Rules And Sorry For No Arabic Language That's Will Be Confused So Lets Start For Rules

R-1 | Don't Edit In Our App Or You Will Disable For Using Our App

R-2 | Don't Ask For Update We Are Make It Every Week / Months

R-3 | Using Our App For X*X Content Will Be Ban So Be Carefuly

R-4 | Tutorial Of How We Make The App You Will Be Muted That's Private And We Don't Tutorial Of How To Make Our Apps

R-5 | Be careful From sales People Our App Is Free

R-6 | Post Image And Say It's Your App You Will Be Banned In The App
